.link{
    margin-inline: auto;
    display: grid;
    place-items: center;
    border: 2px solid var(--black);
    border-radius: 8px;
    width: 52px;
    height: 52px;
    cursor: pointer;
    color: inherit;
    background-color: var(--white);
}